.seider h5 {
	position: relative;
	top: -260px;
}
.carousel-caption.d-none.d-md-block p {
	position: relative;
	top: -250px;
}




.col2{
	background-color: #C5D7F2;

}
.col3{
	background-color: #$blue-100;
}

.col4{
	background-color: #C7DBD2;
}

.col5{
	background-color: #F8D7DA;
}

.col6{
	background-color: #F2E7C3;
}

.col7{
	background-color: #CFF4FC;
}

.col8{
	background-color: #ECEDEE;
}

.col9{
	background-color: #C7DBD2;
}
 

.col10{
	background-color: #CFE2FF;
}
 